* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(266, 266, 266);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B7340;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.title {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.preface {
    background-color: #69A381;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.padding p {
    padding-left: 50px;
}

.container #usa {
    display: block;
    float: left;
    padding: 20px
}

.container .information {
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.container h2, p {
    padding: 10px;
}

.state {
    fill: #A8C9C9;
}

.information h2 {
    background-color:#69A381;;
    margin-left: 950px;
}

.information p{
    background-color: #D3BE96;
    margin-left: 950px;
}

.source-list {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.source-list ul {
    padding-left: 20px;
    margin-left: 25px;
    list-style-type: square;
}

/*Make state look bigger if mouse hovering*/
path:hover {
    stroke: #91b3b3 !important;
    fill: #91b3b3 !important;
    stroke-width:3px;
    cursor: pointer;
}

#frames{
    fill: none !important;
    cursor: default;
}